/**
* okaidia theme for JavaScript,CSS and HTML
* Loosely based on Monokai textmate theme by http://www.monokai.nl/
* @author ocodia
*/

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0;
	overflow: auto;
	border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}
.token.punctuation {
	color: #f8f8f2;
}
.namespace {
	opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}
.token.boolean,
.token.number {
	color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}
.token.atrule,
.token.attr-value {
	color: #e6db74;
}
.token.keyword {
	color: #66d9ef;
}
.token.regex,
.token.important {
	color: #fd971f;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}

/* Pastacode add */
.code-embed-wrapper {
	position: relative;
	padding: 1.5em 0;
}
.code-embed-infos {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	display: block;
	text-align: center;
	margin-bottom:-1px;
}
pre + .code-embed-infos{
	margin-bottom:0;
}
.code-embed-infos a,
.code-embed-infos span {
	color: #272822;
	padding: 0 1em;
	font-family: verdana, helvetica, sans-serif;
	text-decoration: none;
	border-top: 4px solid #45473A;
	margin: 0 0.5em;
	display: inline-block;
}
pre + .code-embed-infos a,
pre + .code-embed-infos span {
	border-bottom: 4px solid #45473A;
	border-top: 0;
}
.code-embed-infos a:hover,
.code-embed-infos a:focus,
.code-embed-infos a:active {
	color: #FFF;
	background: #272822;
	border-color: #272822;
}

/* Plugin styles:Line Numbers */
pre[class*="language-"].line-numbers {
	padding-left: 0;
}
pre[class*="language-"].line-numbers code {
	padding-left: 3.8em;
	display:block;
}
pre[class*="language-"].line-numbers .line-numbers-rows {
	left: 0;
}